* {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden
}

header {
    position: relative;
    width: 100vw;
}

.scrollArrow {
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.arrowContainer {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color: #81D398;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0)
}

.arrowContainer:hover {
    border: 1px solid #1ad6e2;
}

.logo {
    margin-left: 100px;
    display: inline-block;
    color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    margin: 0 1.5em 0 0;
}

.nav-item a {
    color: white;
}

.nav-item a:hover, .help a:hover {
    color: #1ad6e2;
    border-radius: 5px;
}

.footer-data a:hover .icon {
    border-radius: 5px;
    color: #fff;
    box-shadow: #d3d3d3;
}

.icon {
    color: #5350A1;
    margin-bottom: 20px;
    font-size: 30px;
}

.help {
    margin: 0 1.5em 0 1.5em;
    float: right;
    clear: both;
}

.right {
    display: flex;
    float: right;
    margin-right: 100px;
}

#main {
    text-align: center;
    margin: 60px 0;
}

section {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 20px;
}

#main-input button {
    color: white;
    background-color: #81D398;
    border-radius: 5px;
    padding: 15px 22px 15px 22px;
    cursor: pointer;
}

#main h4 {
    margin-top: 100px;
}

#main-account {
    margin-top: 100px;
}

#about {
    text-align: center;
    margin: 0px 0;
}

img {
    margin-top: 5px;
    width: 150px;
    height: 100px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.contain {
    align-items: center;
    width: 456px;
    height: 160px;
    background-color: #FCFCFD;
    border: 1px solid rgb(211, 207, 207);
    border-radius: 20px;
    margin: 20px 20px 20px 0;
}

#about p {
    font-size: 11px;
    margin-left: 10px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    font-size: 12px;
}

.about-text p {
    color: #ABABAF;
}

.about-text h3 {
    text-align: left;
    font-size: 16px;
    margin-left: 30px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 170px; */
    justify-content: center;
}

.newaccount {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
}

.newaccount h4 {
    text-align: left;
}

#about h3 {
    text-align: left;
}

#about .title {
    text-align: center;
}

#about-buttons {
    margin: 28px 0 0 250px;
    font-size: 14px;
}

#about-buttons button {
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
}

.footer {
    display: flex;
    width: 100%;
    height: 322px;
    background-color: #726fdf;
    justify-content: center;
    padding-left: 60px;
}

.footer-data {
    margin: 60px 87px 0 0;
    color: white;
}

.footer-data p {
    color: #E7E7F8;
}

.diagonal {
    z-index: 0;
    padding: 3em;
    background-color: #7653E5;
}

.diagonal:before {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 100%;
    height: 148%;
    background-color: #752DD2;
}

.diagonal:after {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -40%;
    z-index: -2;
    width: 140%;
    height: 467%;
    background-color: #7653E5;
}

header:before {
    position: absolute;
    content: '';
}

header:after {
    position: absolute;
    content: '';
}

.section-diagonal:before {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -25%;
    z-index: -2;
    width: 124%;
    height: 85%;
    background-color: #726fdf;
}

section:before {
    position: absolute;
    content: '';
}

.about-diagonal:before {
    position: absolute;
    content: '';
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 0 3%;
    transform-origin: 0 3%;
    top: 86%;
    left: -25%;
    z-index: -2;
    width: 135%;
    height: 85%;
    background-color: #F6F9FC;
}

#main-account p {
    color: #8A8A8E;
}

.purple {
    color: #4E53A2;
}

.light-purple {
    color: #C6C7EF;
}

.purple-button {
    background-color: #726FDF;
    padding: 0 15px 0 15px;
    color: white;
    font-size: 14px;
    margin-right: 20px;
}

.purple-button1 {
    background-color: #726FDF;
    padding: 10px 15px 10px 15px;
    color: white;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.white-button {
    padding: 0 15px 0 15px;
}

.help a {
    color: white;
    margin-right: 15px;
}

.help button {
    color: white;
    background-color: #81D398;
    border-radius: 5px;
    padding: 5px 22px 5px 22px;
    margin-top: -4px;
    cursor: pointer;
}

.arrow-learn {
    margin-top: 155px;
}

.arrow-learn h4 {
    font-size: 16px;
    margin-bottom: 30px;
    color: #E7E7F8;
}

.green {
    color: #81D398;
    display: inline-block;
    margin-left: 10px;
}

.white {
    color: white;
}

#displayh1 {
    display: inline-block;
    color: white;
}

.footer-data h5 i, .footer-data p i {
    margin-right: 4px;
}

button:hover {
    border: 1px solid black;
}

@media only screen and (min-width: 1000px) {
    .diagonal:before {
        left: -25%;
        width: 100%;
    }
}

@media only screen and (max-width: 1030px) {
    .light-purple {
        margin-left: 100px;
    }
    .purple {
        margin-left: 100px;
    }
    .section-diagonal:before {
        height: 79%;
    }
    .diagonal:before {
        left: -48%;
        width: 183%;
    }
    .footer-data {
        margin: 60px 60px 0 0;
        color: white;
        font-size: 10px;
    }
    .footer-data p {
        color: #E7E7F8;
    }
    .footer-data h5 {
        font-size: 18px;
    }
    #about-buttons {
        width: 100%;
        margin: 28px 0 0 0;
    }
}

@media only screen and (max-width: 900px) {
    .logo {
        margin-left: 0px;
    }
    .diagonal {
        padding: 3em 1em;
    }
    .diagonal:before {
        width: 148%;
    }
    .footer {
        padding-left: 20px;
    }
    .footer-data h5 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 697px) {
    .purple-button {
        font-size: 10px;
    }
    .white-button {
        font-size: 10px;
        margin-top: 20px;
    }
    .icon {
        font-size: 14px;
    }
    .footer {
        padding-left: 4px;
    }
    .footer-data {
        color: white;
        font-size: 10px;
        margin-right: 14px;
    }
    .footer-data p {
        color: #E7E7F8;
    }
    .footer-data h5 {
        font-size: 12px;
    }
    img {
        width: 78px;
        height: 77px;
    }
    .help button {
        margin: 0 0 38px 0;
    }
    .nav-item a {
        display: block;
    }
    nav {
        display: block;
        float: left;
    }
    .logo {
        display: block;
    }
    .right {
        float: unset;
        margin-right: 0;
        justify-content: space-between;
    }
    .help {
        float: right;
    }
    .diagonal:after {
        height: 300%;
    }
    .section-diagonal:before {
        height: 70%;
        width: 150%;
    }
    .light-purple {
        font-size: 18px;
        margin-left: 60px;
    }
    .purple {
        font-size: 18px;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 410px) {
    .light-purple {
        font-size: 18px;
        margin-left: 60px;
    }
    .purple {
        font-size: 18px;
        margin-left: 60px;
    }
    .purple-button {
        font-size: 10px;
    }
    .footer {
        justify-content: unset;
        padding-left: 28px;
    }
    .icon {
        font-size: 12px;
        margin-bottom: 0;
    }
    .footer-data {
        margin: 60px 8px 0 0;
        color: white;
        font-size: 10px;
    }
    .footer-data p {
        color: #E7E7F8;
    }
    #main-input button {
        margin-top: 20px;
    }
    .contain {
        margin: 12px;
    }
}